* {
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 38, 38);
  color: white;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

#get-quote-btn {
  height: 2rem;
}
