/* ============= general styling ========= */

* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  background-color: rgb(245, 245, 220, 0.6);
  --main-background-image: linear-gradient(#e6985c, beige);
  --main-background-color: rgb(245, 245, 220, 0.4);
  --page-background-color: white;
  --page-text-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  text-align: start;
}

/* ============= header ========= */

#overall-header {
  text-align: center;
  background-image: var(--main-background-image);
  padding: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--main-background-color);
  aspect-ratio: 1;
  border: 1px solid #e6985c;
  border-radius: 50%;
  transition: 500ms;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation a {
  padding: 0px 2rem;
  color: black;
  border-radius: 10px;
  transition: background-color 1000ms;
}

.navigation a:hover {
  background-color: white;
  cursor: pointer;
}

.navigation a:active {
  background-color: #e6985c;
}

.navigation a:focus {
  background-color: white;
}

::selection {
  background-color: black;
  color: white;
}

.subheading::before {
  content: "🌍";
}

.subheading::after {
  content: "🖥️";
}

.overall-header-text {
  font-size: 2rem;
}

.overall-header-h1 {
  font-size: 2em;
}

.subheading {
  font-size: 0.5em;
}

#overall-header:focus-within .badge {
  transform: scale(120%, 120%);
  font-weight: bold;
  color: red;
}

_#overall-header:focus-within .badge {
  font-weight: bold;
}

/* =========== main ============ */

.main {
  max-width: 85ch;
  margin: 0 auto;
  padding: 0px 2rem;
  text-align: justify;
}

article + article {
  padding-top: 2rem;
  border-top: 0.2rem solid #e6985c;
}

.header-exp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.experience-header {
  display: inline-block;
}

.experience-subheader {
  display: inline-block;
}

.article-header {
  position: relative;
  left: -0.1rem;
}

.article {
  padding: 5rem;
}

/* ========== footer ======== */

.footer {
  padding: 7rem 2rem;
  background-image: linear-gradient(beige, #e6985c);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========== responsive ======== */

@media screen and (min-width: 786px) {
  html {
    font-size: 15px;
  }
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
  .header-exp {
    flex-direction: row;
  }
  article + article {
    padding-top: 3rem;
  }
  .article {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .article-header {
    grid-column: 1;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }

  .badge {
    position: fixed;
    left: 0.5rem;
    right: unset;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}

@media print {
  .badge {
    display: none;
  }
  .navigation {
    display: none;
  }
}
